@import "../../variables.scss";

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  max-width: $size-medium;
}

.section.section-secondary {
  &.proj-dark {
    background-color: $background-primary-dark;

    h2 {
      color: $font-dark-theme;
    }
  }
}
