@import "../../variables.scss";

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  max-width: $size-medium;
}

.section.section-primary {
  &.skills-dark {
    background-color: $background-primary-dark;

    h2 {
      color: $font-dark-theme;
    }
  }
}
